@model IEnumerable<PROGPOE1.Models.DBEntities.Product>

@{
    ViewData["Title"] = "My Products";
}

<h2>My Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Production Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.ProductionDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>